@charset "utf-8";


$--color-black : #000;
$--color-white : #fff;
$--color-orange : rgb(255, 185, 55);
$--font-size-50 : '50px';


body {
  background-color: $--color-white;
}

h1 {
  color: $--color-orange;
  font-size: $--font-size-50;
}

img {
  width: 200px;
}